@model POSebda3.Models.ProductModels.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
